h1{
    text-decoration: none;
      color: #000000;
      font-size: 100;
      font-weight: 500;
      font-style: italic;
      font-weight: bold;
    text-align: center;
}
body {
      background-color:blanchedalmond;
    }
    .card-link {
      text-align: center;
      padding: 2rem;
      border-radius: 0.5rem;
      background-color: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.05);
      transition: transform 0.2s ease;
    }
    .card-link:hover {
      transform: scale(1.05);
    }
    .card-link a {
      text-decoration: none;
      color: #000000;
      font-size: 3rem;
      font-weight: 500;
      font-style: italic;
      font-weight: bold;
    }

form{
  text-align: center;
}

label{
  font-weight: bold;
}