<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>Registrazione Passeggero</title>
</head>
<body>
  <h1>Registrazione Passeggero</h1>
  <form action="/registration_passenger" method="post">
    <label>Nome: <input type="text" name="nome" required></label><br>
    <label>Cognome: <input type="text" name="cognome" required></label><br>
    <label>Età: <input type="number" name="eta" min="6" required></label><br>
    <label>Scuola: <select name="scuola" id="SelectNomi" ><option value="">-- Seleziona un nome --</option></select>
    </label><br>
    <label>Telefono: <input type="tel" name="telefono" required></label><br>
    <label>Email: <input type="email" name="email" required></label><br>
    <label>Password: <input type="password" name="password" required></label><br>
    <label>Hai una disabilità?
      <select name="disabilita">
        <option value="no">No</option>
        <option value="si">Sì</option>
      </select>
    </label><br>
    <button type="submit">Registrati</button>
  </form>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='js/passenger.js') }}"></script>
</html>
